* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


body {
    background: #2F3542;
    color: rgb(224, 177, 67);
    text-align: center;
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
        color: #DFE0E2;
        font-size: 64px;

        & span {
            color: #E0B143;
        }
    }

    & .question-mark-container {

        height: 100px;
        width: 100px;

        & img {
            height: 100%;
            width: 100%;
        }
    }
}

.presentation-container {

    & p {}


}



.change {
    background: rgba(0, 0, 255, 0.138);
}