:root {
    --background-color: #2F3542;

    --title-container: #FEA601;
    --texts-color: #DFE4EA;

    --button-color: #2F3542;
    --button-block-color: #DFE4EA;
    --buttons-block-hover-container: #dea726;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: var(--background-color);
    text-align: center;
    height: 100vh;
    /* overflow: hidden; */
}

body,
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root {
    height: 100%;
    width: 100%;
}


button {
    height: 70px;
    width: 300px;

    background: var(--button-block-color);
    border-radius: 8px;
    border: 2px solid var(--button-block-color);
    color: var(--button-color);
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover {
    border: 2px solid var(--texts-color);
    background: var(--buttons-block-hover-container);
}

button:active {
    transform: scale(0.9);
}