@import './base.css';

.first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-child {
    height: 100%;
    width: 100%;
}

/* .first-child { */
header,
.presentation-container,
.button-container,
footer {
    margin: 24px;
}

header {
    margin-top: auto;

    & .title-container {
        display: flex;
        justify-content: center;
        align-items: center;

        & h1 {
            color: var(--texts-color);
            font-size: 64px;
            font-family: serif;

            & span {
                color: var(--title-container)
            }
        }

        & .question-mark-container {

            height: 100px;
            width: 100px;

            & img {
                color: white;
                height: 100%;
                width: 100%;
            }
        }
    }
}

main {
    width: 824px;

    & .presentation-container {
        min-height: 96px;

        display: flex;
        justify-content: center;
        align-items: center;

        & p {
            color: #DFE0E2;
            font-size: 24px;
        }
    }
}

footer {
    margin-bottom: 0;
    margin-top: auto;
    height: auto;
    width: 100%;

    color: var(--title-container);
    font-weight: bold;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    & .questions-counter-container {
        padding-right: 24px;
        padding-bottom: 24px;
    }
}


@media screen and (max-width: 800px) {

    main {
        width: 400px;
    }

    #home {

        & header *,
        & main * :not(button),
        & footer * {
            transform: scale(0.9);
        }

        & #ready {
            height: 54px;
            width: 200px;
            font-size: 20px;
        }
    }

}