@import './base.css';

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz {
    height: 100%;
    width: 100%;
}

.quiz {
    & h1 {

        color: var(--title-container);
    }
}